../.android/
        ../.bash_history
        ../.businessobjects/
        ../.drjava
        ../.eclipse/
        ../.gfclient/
        ../.gimp-2.8/
        ../.gradle/
        ../.idlerc/
        ../.jenkins/
        ../.jmc/
        ../.m2/
        ../.oracle_jre_usage/
        ../.rediscli_history
        ../.smplayer/
        ../.sqlmap/
        ../.ssh/
        ../.tooling/
        ../.viminfo
        ../.zenmap/
        ../3D Objects/
        ../AlbumArtSmall.jpg
        ../AlbumArt_{14FB48C0-E0BA-4C54-A2E9-4FBB9D31BFF7}_Large.jpg
        ../AlbumArt_{14FB48C0-E0BA-4C54-A2E9-4FBB9D31BFF7}_Small.jpg
        ../AppData/
        ../Contacts/
        ../Creative Cloud Files (saketh.gorrepati@gmail.com)/
        ../Creative Cloud Files (unknown)/
        ../Creative Cloud Files/
        ../Desktop/
        ../Documents/
        ../Downloads/
        ../EmpDemo.war
        ../Favorites/
        ../Folder.jpg
        ../IntelGraphicsProfiles/
        ../JaspersoftWorkspace/
        ../Kony Visualizer/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{c972efa6-1fff-11e7-9bff-9dcbf61caae9}.TxR.0.regtrans-ms
        ../NTUSER.DAT{c972efa6-1fff-11e7-9bff-9dcbf61caae9}.TxR.1.regtrans-ms
        ../NTUSER.DAT{c972efa6-1fff-11e7-9bff-9dcbf61caae9}.TxR.2.regtrans-ms
        ../NTUSER.DAT{c972efa6-1fff-11e7-9bff-9dcbf61caae9}.TxR.blf
        ../NTUSER.DAT{c972efa7-1fff-11e7-9bff-9dcbf61caae9}.TM.blf
        ../NTUSER.DAT{c972efa7-1fff-11e7-9bff-9dcbf61caae9}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{c972efa7-1fff-11e7-9bff-9dcbf61caae9}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Oracle/
        ../Pictures/
        ../Saved Games/
        ../Searches/
        ../Thumbs.db
        ../Tracing/
        ../Videos/
        ../default-soapui-workspace.xml
        ../desktop.ini
        ../eclipse-workspace/
        ../fimap.log
        ../fimap_result.xml
        ../ia_remove.sh0342.tmp
        ../ia_remove.sh6302.tmp
        ../ia_remove.sh7445.tmp
        ../ia_remove.sh8698.tmp
        ../miles.txt
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../saketh_maven_proj/
        ../soapui-settings.xml
        ../workspace/
